.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #002e6d;
  color: #ffffff;
  box-shadow: 0 0 7px #000000;

  .logo {
    font-size: 28px;
    font-weight: bold;
  }

  .user {
    font-size: 16px;
    display: flex;
    align-items: center;

    &-icon {
      color: #69a7fd;
      margin-right: 5px;
      padding: 1px 3px;
      background-color: #ffffff;
    }

    &-greeting {
      font-weight: bold;
    }
  }
}