.content {
  padding: 10px; }
  .content .title {
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 10px; }
  .content .invoice {
    display: flex;
    margin-top: 10px; }
    .content .invoice-list {
      width: 30%;
      background-color: #cdcdcd; }
    .content .invoice-detail {
      width: 70%;
      background-color: #7db5cf; }
